# Data engineering

By: Sherif Abdulkader Tawfik Abbas
- https://scholar.google.com/citations?user=NhT7vZIAAAAJ
- https://www.linkedin.com/in/sheriftawfik/

Topics we will cover:
- Introduction to data engineering
- Common data engineering tasks
  - Data extraction
  - Turning text to lower-case
  - Hotcoding
  - Removing outliers
  - Imputation
  - Data loading
- Number cruncher: the `numpy` library
  - `numpy` arrays
  - Array operations
  - `numpy` mathematical functions
- Data work horse: `pandas`
  - The `pandas` `DataFrame` object
  - Loading and saving CSV files
- Text manipulation in python

## Introduction to data engineering

Machine learning uses data to train a machine learning model to perform a predictive task. The data that machine learning models are different from the data that a human can process. Humans can read text on a website and understand the text based on the rules of grammer, as well as by commonsense. Here are two examples:


### Example 1: Numerical data

Let's say we want to pass the global temperature data into a machine learning model, to train it to predict the global temperature in 20 years time. The data looks like this:

```
%                  Monthly          Annual          Five-year        Ten-year        Twenty-year
% Year, Month,  Anomaly, Unc.,   Anomaly, Unc.,   Anomaly, Unc.,   Anomaly, Unc.,   Anomaly, Unc.
 
  1751    12    -2.169  3.365    -1.153    NaN       NaN    NaN       NaN    NaN       NaN    NaN
  1752     1    -3.587  3.193    -1.157  1.358       NaN    NaN       NaN    NaN       NaN    NaN
  1752     2     1.556  4.577    -1.208  1.381       NaN    NaN       NaN    NaN       NaN    NaN
  1752     3    -0.292  2.431       NaN    NaN       NaN    NaN       NaN    NaN       NaN    NaN
  1752     4    -1.894  1.592       NaN    NaN       NaN    NaN       NaN    NaN       NaN    NaN
  1752     5    -0.422  1.465       NaN    NaN       NaN    NaN       NaN    NaN       NaN    NaN
  1752     6     0.115  1.426       NaN    NaN       NaN    NaN       NaN    NaN       NaN    NaN
  1752     7     0.760  1.319       NaN    NaN       NaN    NaN       NaN    NaN       NaN    NaN
  1752     8    -0.958  1.273       NaN    NaN       NaN    NaN       NaN    NaN       NaN    NaN
  1752     9       NaN    NaN       NaN    NaN       NaN    NaN       NaN    NaN       NaN    NaN
  1752    10    -1.639  1.640       NaN    NaN       NaN    NaN       NaN    NaN       NaN    NaN
```

The data can be obtained from the [link](http://berkeleyearth.lbl.gov/auto/Global/Complete_TAVG_complete.txt), and will be examined in Case Study 01 of this course. For every month (the first column), the temperature anomaly (the difference in temperature) is recorded. But for some records, the the temperature is `NaN` which stands for "not a number". To pass the above table to a machine:

- First, we need to transform the above format into a format that the machine can process, such as the CSV format.
- Second, for `NaN` values, we should substitute them with numerical values. This is called "data imputation".

### Example 2: Natural language processing

`
Foreign Affairs Minister Penny Wong has asked Optus to cover passport application fees for anyone caught up in last week's massive data breach, which affected millions of Australians.
`

How does the human brain comprehend the above sentence? It applies rules of syntax, or grammar. The initial of Penny is upper-case, so we understand it's a name of a person. We know Optus is a company, not a person, so we won' be confused by "asked Optus"; we know Optus is not a person. We know "caught up" means "involved". We have some idea about last week's security breach that has hit the Optus servers. Finally, we know the sentence ended because of the full-stop.

Is that how a machine would understand the above text? The machine needs to know the structure of the sentence: whether it is a simple or a complex sentence, the clauses in the sentence, the objects (Penny, Optus, Australians data breach) and the verbs (cover, affected).

However, the machine does not read the text like we read it: the machine wants to translate that text into a numerical form first, and then process the numbers. As an example of a numerical form: representing each two consecutive words by a number. For example:

| Two words | Number |
| --- | --- |
| has asked | 1 |
| caught up | 2 |
| which affected | 3 |

What if we find "which affects", "have asked", and "catch up"? The meaning of "have asked" is the same as "has asked", but is different because of the word that comes before those two words. Given they have the same meaning, it makes more sense to represent them with the same number.

Therefore, before translating the words and sentences into numbers, we need to make things less confusing to the machine:
- plurals, such as "fees" and "millions", become singular
- different forms of a verb, such as "have" and "has", should be represented as one verb, such as "have"
- we should remove commas, full stops, etc., because they are not part of the vocabulary 

The modifications to the data in the above two examples are known as data preprocessing, or data pruning, or more generally data engineering.


Data engineering is the process of preparing data for machine learning. In python, it involves the use of several python modules, including `numpy` and `pandas`, to efficiently prepare the data.


## Common data engineering tasks

Data engineering is also know as ETL: data extraction-transformation-loading. Below I will explain what each of those mean:

### Data extraction

This is the process of getting the data from its source, or in its *row* form. For example: if we need to collect the stock prices to perform data analysis on, then the extraction process includes: writing scripts that collect the stock data from the stock market platform.

The data, as-obtained, will be either poorly formatted, or formatted in a way that is hard to analyse. For this reason, we need to perform data transformation, before we can start analysing the text and performing machine learning on it. Below are a few common data transformation tasks.

### Turning text to lower-case

One of the most common data transformation processes with text data is to unify the text case: turning the text into lower-case. For example, if we collect the data from user color selection, users might enter their selected colors as `Red`, `BLUE`, `bLack`. Turning them all into lower-case will make the processing of colors less confusing.

### Hotcoding

When the data is categorical, such as the colors above, we should convert the data into numerical form. Remember, in machine learning, the machine only understands numbers!

There are several possible ways to turn the colors into numbers:
1. Convert each color into its three RGB values
2. Rank colors by integer numbers, such as: red = 1, blue = 2, green = 3, black = 4 , etc.
3. Hotcode the colors

Option (1) makes sense, since the RGB values are the true reflection of what the colors are. Option (2) is not idea, because it assumes a numerical order in colors, which might not make sense. Option 3, the hot encoding, is the most common approach to represent categories numerically: each color is represented as a list of zeros and ones.

### Dealing with outliers

For numerical data, sometimes you can have data values that are far lower, or far higher, than the majority of the data. These are called the *outliers* in statistics, and should be handled appropriately.

### Imputation

In addition to having outliers in your data, you could have missing data values, or wrongly-formatted data values. In these cases, you have *gaps* in your data that you need to fill in. Filling those gaps is known as data imputation. We will learn a few techniques of imputation in this class.

### Data loading

Once we have transformed the data, we are ready to load the data into data files, or databases, for further processing.


Another step that takes place during or after data transformation is the *exploratory data analysis*. This will be the topic of the next class.

In this class, you will learn how to use  `numpy` and `pandas` as well as python string operations to prepare your data.

## Number cruncher: the numpy library

`numpy` is one of the richest and most popular libraries in python. You can have a look at the wide range of mathematical functions in `numpy` here: https://numpy.org/doc/1.18/reference/index.html. `numpy` is particular popular because of its data structure the "numpy array". It allows flexibility in generating arrays and operating on arrays using mathematical functions.

Here, we will deal with two main features in `numpy`: the numpy array and mathematical functions.

### numpy arrays

The `numpy array`, is far more suitable for performing numerical computations than python's default collection types (lists, sets, tuples, dictionaries). The important feature that distinguishes a `numpy array` from, say a python `list`, is the ability to perform element-wise operations. 

Let's start by creating an array of 3 numbers: 4,6 and 7.

In [ ]:
import numpy as np
a=np.array([4,6,7])
print(a)

Note the syntax: the `array` function is expecting a python collection type, and here we pass a `list` type.

Like in python's lists, we can find the length of the list using the `len()` function. We can also use `len()` in a `numpy array`, but we can also use the `shape()` function as follows:

In [ ]:
import numpy as np
a=np.array([4,6,7])
print(a.shape)

This means that we have a 1D array, with 3 elements. Let's create a 2D array.

In [ ]:
import numpy as np
a=np.array([[4,6,7],[5,6,7]])
print(a.shape)

To access the elements of a `numy array`, we also use the bracket notation like we did with python's lists. For example, to get the first row of the above array:

In [ ]:
import numpy as np
a=np.array([[4,6,7],[5,6,7]])
print(a[0])


### Array operations

We can do a scalar multiplication of a `numpy array`:

In [ ]:
import numpy as np
a=np.array([[4,6,7],[5,6,7]])
print(a*4)

And we can easily perform an element-wise multiplication of two arrays:

In [ ]:
import numpy as np
a=np.array([4,6,7])
b=np.array([7,8,9])
print(a*b)

Element-wise operations include all of python's arithmetic functions.

In [ ]:
import numpy as np
a=np.array([4,6,7])
b=np.array([7,8,9])
print(a*b,a/b,a+b,a-b)

What about matrix multiplication? For these, we use the `numpy` function `dot()`:

In [ ]:
import numpy as np
a=np.array([[4,6,7],[0,3,2]])
b=np.array([[7,9],[4,10],[-4,6]])
print(a.dot(b))
print(np.dot(a, b))

### numpy mathematical functions

`numpy` has a huge number of mathematical functions. For a quick overview:
- Statistical functions: https://numpy.org/doc/1.18/reference/routines.statistics.html
- Mathematical functions, including trigonometry and a lot more: https://numpy.org/doc/1.18/reference/routines.math.html

Using these functions with a `numpy array` is pretty straightforward. For example, let's compute the sum, average, maximum, minimum, standard deviation and variance of an array of numbers:

In [ ]:
import numpy as np
a=np.array([1,5,4,7,5,3,5.7,3.4,2,6,8,7])
print(a.sum(),a.mean(),a.max(),a.min(),a.std(),a.var())

Note that these functions constitute some of the common dscriptive statistical functions that we normally use when we analyze numerical data before we perform machine learning computations on them.

We can also compute mathematical functions of arrays. Let's try the rounding, floor and sine of an array.

In [ ]:
import numpy as np
a=np.array([1.67,5.8,4.2,9.7,5,3,5.7,3.4])
print(np.round(a))
print(np.floor(a))
print(np.sin(a))

### Slicing numpy arrays

Like slicing python lists and tuples, we can also slice numpy arrays with the same syntax: the `:` operator. Let's slice an array of 6 elements by taking the first 3 elements into a new array.

In [ ]:
import numpy as np
a=np.array([1,2,3,4,5,6])
b = a[0:3]
print(b)

We can also apply negative slicing (which performs indexing backwards), and step slicing.

In [ ]:
import numpy as np
a=np.array([1,2,3,4,5,6])
print(a[-1]) #The last element
print(a[0:4:2]) #Get the first 4 elements, in steps of 2

### Iterating through a numpy array

We can iterate through the elements of a numpy array just like we do with python lists:

In [ ]:
import numpy as np
a=np.array([1,2,3,4,5,6])
for i in a:
    print(i)

You can see that we don't have the array indices here, only just the elements. If you need to also get the index in the loop, we use the function `ndenumerate()` in the `for` loop:

In [ ]:
import numpy as np
a=np.array([1,2,3,4,5,6])
for index,i in np.ndenumerate(a):
    print(index,i)

### Concatinating arrays

Given two arrays in numpy, we cannot concatenate them by the `+` operator, since we learned that `+` is reserved for element-wise addition. What we need to do is to use the `concatenate()` method.

In [ ]:
import numpy as np
a = np.array([1,2,3,4,5,6])
b = np.array([10,11,12])
c = np.concatenate([a,b])
print(c)

Note: We must place the numpy arrays in a python list or tuple before passing them to the `concatenate` function.

### Searching an array

In a python list, you can check if an element is in the list by using the `in` keyword: `3 in [1,2,3]`. However, if you want to find where the element is, you have to write a loop.

In numpy, the `where()` method, as its name suggests, lets you know what index the element is.

In [ ]:
import numpy as np
a = np.array([1,2,3,4,5,6])
print(np.where(a == 3))

a = np.array([1,2,3,2,5,2])
print(np.where(a == 2)) #Can also find multiple occurrence

### Array sorting

We can sort numpy arrays by the `sort()` method.

In [ ]:
import numpy as np
a = np.array([9,5,1,3,0,2,-5,-8])
b = np.sort(a)
print(b)

We can also use the `sort()` from within an array to perform *in-place* sorting. Warning: *in-place* operations will change the original array, so use with care.

In [ ]:
import numpy as np
a = np.array([9,5,1,3,0,2,-5,-8])
a.sort()
print(a)

### Filtering numpy arrays

For python lists, you can filter the list by writing a loop and applying the filter condition within the loop:

In [ ]:
a = [2,5,4,8,4,1]
for i in a:
    if i < 4:
        print(i)

This can be done in easily numpy, only in a single line:

In [ ]:
import numpy as np
a = np.array([2,5,4,8,4,1])
print(a[a < 4])



## Data work horse: `pandas`

Another data structure library is `pandas`, which is particularly suited for dealing with tabular data. It has quickly evolved over the years to become the global standard in representing and manipulating data in python.

`pandas` represent data in the form of a complex object called the `DataFrame`. Think of the `DataFrame` as a database table sheet: it has a name (the variable name), fields with their titles, and possibly an index field (the primary key). DataFrames are particularly powerful owing to their querying and data transformation functionalities.

Let's create a simple `DataFrame` that represents a table of 2 columns, `fruit` and `price`:

In [ ]:
import pandas as pd
p = pd.DataFrame({'fruit':['apple','banana','pear'],'price':[4,3.5,2]})
print(p)

Printing a `DataFrame` will format it as an actual table, with an index (the first column that has no title) and fields, each with its designated title.

We can retrieve the second row by using the `loc` function:

In [ ]:
p.loc[1]

We can query the `banana` record in this `DataFrame` by using also the `loc` function:

In [ ]:
p.loc[p.fruit == 'banana']

Or we can find all records with prices higher than 2:

In [ ]:
p.loc[p.price > 2]

## Loading and saving CSV files

One of the very useful features of `pandas` is the loading and saving of CSV files. To save the above `DataFrame` in CSV format, we just do the following:

In [ ]:
p.to_csv('fruits.csv')

To read the saved CSV file, it's also quite easy:

In [ ]:
q = pd.read_csv('fruits.csv',index_col=0,header=0)
print(q)

### Finding missing values

Let's load the data file `some_data.csv` and check it out.

In [1]:
import pandas as pd
q = pd.read_csv('https://raw.githubusercontent.com/sheriftawfikabbas/learn_ml/master/Class02_DataEngineering/some_data.csv?token=GHSAT0AAAAAABYGK5R7TX7VFLQ6KDJHJETAYZVEJSQ',index_col='index',header=0)
print(q)

             A     B
index
1          NaN  56.0
2         34.0  54.0
3        123.0  52.0
4          NaN   NaN
5      23432.0   NaN
6         23.0  76.0

You can notice there are some blank cells, which are labelled with `NaN`, or *not a number*. pandas lets you discover the `NaN` values by using the `isnull()` method:

In [34]:
q.isnull()

           A      B
index
1       True  False
2      False  False
3      False  False
4       True   True
5      False   True
6      False  False

You get another DataFrame with boolean values, where `True` indicates the presence of a `NaN`.

We can also call the numpy `isnan()` method to do the same thing:

In [43]:
np.isnan(q)

           A      B
index
1       True  False
2      False  False
3      False  False
4       True   True
5      False   True
6      False  False

We can then use that boolean DataFrame to find the rows that have `NaN` values by their index.

In [48]:
q.index[q.isnull().any(1)]

Int64Index([1, 4, 5], dtype='int64', name='index')

### Filling `NaN` values: data imputation

Here we use the `fillna()` method in pandas to fill `NaN` values with some predefined value. There are more sophisticated methods to fill empty values, but here we discuss the simplest approach: replacing `NaN` with a constant.

In [49]:
q.fillna(3)

             A     B
index
1          3.0  56.0
2         34.0  54.0
3        123.0  52.0
4          3.0   3.0
5      23432.0   3.0
6         23.0  76.0

## Text manipulation in python

One of the factors that catalyzed the popularity of python has been its versatility in text manipulation.

Let's start with a few of python's string functions:

- `s.upper()` and `s.lower()`
- `s.strip()`
- `s.split()` splits a sentence into words, assuming the space character is the separator character.
- `s.replace(a,b)` replaces all ocurrances of `a` with `b` in the string `s`
- `s.join()` joins all members of a collection into one string, separated by the the string `s`.
- `s.isnumeric()` checks if `s` is numeric.

In [ ]:
a = 'this is some text'
print(a.upper(),a.lower())

a = '   lots of trailing spaces.    '
print(a)
print(a.strip())

print(a.split())

a = 'abcddefdd'
print(a.replace('d','x'))

print('abc'.join(['x','y','z']))

a = '456a'
print(a.isnumeric())

These functions are very commonly used when we start *pre-processing* text in natural language processing, which is the *text cleaning* step.

That's all for this tutorial. In the next tutorial, I will go through more specialized and detailed procedures for data pre-processing.